/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body,
  input,
  button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
  }
  
  body {
    color: var(--white-color);
  }
  
  input,
  button {
    border: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .bg__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .departments-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center; /* Định vị phần tử từ trái qua phải */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    padding-top: 100px;
}

.info-container {
    position: relative;
    background-color: hsla(0, 0%, 13%, 0.2);
    border: 2px solid var(--white-color);
    margin: auto;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    width: 35%;
    height: 70vh;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.info-item {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    width: 100%;
}

.completed-status {
    color: #28a745;
    font-weight: bold;
}

.processing-status {
    color: #a72828;
    font-weight: bold;
}

.more-content {
    display: none;
}

.show-btn, .less-btn {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.container_chart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content{
    width: 100%;
}

.content div{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.content div .image{
    background: #efefef;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px #999;
}

.content div .image img{
    height: 60px;
    transition: transform 0.3s;
}
.content div .image img:hover{
    transform: scale(1.05);
}
.content div .bar{
    height: 50px;
    width: 100%;
    background: #f1f1f1;
    /* border-radius: 40px; */
    position: relative;
    /* margin-left: 20px; */
    overflow: hidden;
    box-shadow: 2px 5px 10px #999;
    border-radius: 10px;
}

.content div .progress{
    height: 80px;
    /* border-radius: 40px; */
    background: linear-gradient(to right, var(--clr1), var(--clr2));
}

.content div .bar h1{
    position: absolute;
    right: 10px;
    color: var(--clr1);
    font-weight: 500;
    font-size: 35px;
}

.content div .bar h2{
    position: absolute;
    left: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}


/* pie chart  */

.programming-stats {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    transition: all 400ms ease;
    flex-direction: column;
  }
  
  .programming-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  

  .programming-stats .details ul {
    list-style: none;
    padding: 0;
  }
  
  .programming-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  
  .programming-stats .details .percentage {
    font-weight: 700;
    color: #e63946;
  }